/* Styles globaux */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
}

.content {
    width: 80%; /* Réduction de la largeur */
    max-width: 700px; /* Réduction de la largeur maximale */
    padding: 15px; /* Réduction du padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: 'Aeonik Regular', Arial, sans-serif;
    font-size: 1.3rem; /* Réduction de la taille de police */
    line-height: 1.8; /* Ajustement de l'interligne */
    max-width: 600px; /* Réduction de la largeur maximale du texte */
}

/* --- Menu hamburger --- */
.menu-icon { position: fixed; top: 20px; right: 30px; display: flex; flex-direction: column; gap: 5px; cursor: pointer; z-index: 1001; }
.menu-icon div { width: 30px; height: 3px; background-color: #000; transition: transform 0.3s, opacity 0.3s; }
.menu-icon.active div:nth-child(1) { transform: translateY(8px) rotate(45deg); }
.menu-icon.active div:nth-child(2) { opacity: 0; }
.menu-icon.active div:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

/* --- Menu plein écran --- */
.menu-fullscreen { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; color: #fff; display: none; flex-direction: column; justify-content: center; align-items: flex-end; z-index: 1000; }
.menu-fullscreen a { font-family: 'Aeonik Light', sans-serif; color: #aaa; text-decoration: none; font-size: 4em; margin: 15px 80px; transition: color 0.3s ease; }
.menu-fullscreen a:hover { color: #fff; }

/* --- Media Queries pour adaptation mobile --- */
@media (max-width: 768px) {
    .content {
        width: 90%; /* Ajustement pour mobile */
        padding: 10px;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.6;
        max-width: 100%;
    }

    .menu-fullscreen a {
        font-size: 1.8em;
        margin: 10px 40px;
    }
}
