/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: space-between;
    padding: 20px; /* Ajout d'espacement général */
}

.image {
    width: 50%; /* Largeur par défaut pour les écrans plus grands */
}

.text {
    width: 50%; /* Largeur par défaut pour les écrans plus grands */
    padding: 20px;
}

/* Styles pour les écrans de moins de 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    nav ul {
        display: none; /* Menu masqué par défaut sur mobile */
    }
    .container {
        display: flex;
        flex-direction: column; /* Réorganisation en colonne */
        align-items: center; /* Centrage des éléments */
        padding: 10px;
    }
    .image {
        width: 100%; /* Largeur ajustée pour s'adapter à l'écran */
        margin-bottom: 20px; /* Espacement entre l'image et le texte */
    }
    .text {
        width: 100%; /* Texte prend toute la largeur */
        text-align: left; /* Centrage du texte */
        padding: 10px;
    }
}

/* Styles pour les écrans encore plus petits (moins de 480px) */
@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
    .text {
        font-size: 14px; /* Réduction de la taille du texte pour les très petits écrans */
    }
}

